* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hero-navbar {
  background-color: #1f2937;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-weight: bold;
  margin-left: 48px;
  margin-right: 48px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

a {
  text-decoration: none;
}

.navbar-link {
  font-size: 18px;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}
.hero-text-box{
  display: flex;
  flex-direction: column;
}
.hero {
  margin-top: 48px;
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
}

.signup-button {
  background-color: #3882f6;
  box-shadow: none;
  border: 1px solid royalblue;
  color: white;
  font-size: 0.875rem;
}
.parrot-image {
  height: auto;
  max-width: 300px;
}

.cards{
  margin-top: 48px;
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-information{
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  flex-wrap: wrap;
}
.card-container{
  display: flex;
  justify-content:space-between ;
  flex-wrap: wrap;
}
.element-card{
  display: table;
  width: 1%;
}
.ilustration{
  max-width: 180px;
  max-height: 180px;
}
.quote{
  margin-top: 48px;
  background-color:#e5e7eb ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 86px;

}
.quote-content{
  margin-right: 48px;
  margin-left: 48px;

}
.quote-text{
  font-size: 36px;
  font-weight: lighter;
}
.author{
  display: flex;
  flex-direction: row-reverse;
  font-weight: bolder;
}
.modal{
  display: flex;
  margin-top: 48px;
  margin-left: 48px;
  margin-right: 48px;
  background-color: #3882f6;
  color: #e5e7eb;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  padding: 48px;
  flex-wrap: wrap;
}
.modal-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.modal-bold{
  font-weight: bolder;
}
.signup-button-2 {
  background-color: #3882f6;
  box-shadow: none;
  border: 1px solid #e5e7eb;
  color: white;
  font-size: 0.875rem;
}

.footer{
  margin-top: 36px;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}